<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:websocket="http://www.springframework.org/schema/websocket"
	xsi:schemaLocation="
            http://www.springframework.org/schema/beans 
            http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
            http://www.springframework.org/schema/mvc 
            http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd 
            http://www.springframework.org/schema/context 
            http://www.springframework.org/schema/context/spring-context-4.0.xsd 
            http://www.springframework.org/schema/aop 
            http://www.springframework.org/schema/aop/spring-aop-4.0.xsd 
            http://www.springframework.org/schema/tx 
            http://www.springframework.org/schema/tx/spring-tx-4.0.xsd 
            http://www.springframework.org/schema/websocket
            http://www.springframework.org/schema/websocket/spring-websocket-4.0.xsd">



	<!-- websocket处理类 -->
	<bean id="myHandler" class="com.cuit.secims.mw.ws.MyWebSocketHandler" />

	<!-- 握手接口/拦截器 -->
	<bean id="myInterceptor" class="com.cuit.secims.mw.ws.HandshakeInterceptor" />

	<websocket:handlers>
		<websocket:mapping path="/websocket" handler="myHandler" />
		<websocket:handshake-interceptors>
			<ref bean="myInterceptor" />
		</websocket:handshake-interceptors>
	</websocket:handlers>

	<!-- 注册 sockJS -->
	<websocket:handlers>
		<websocket:mapping path="/sockjs/websocket" handler="myHandler" />
		<websocket:handshake-interceptors>
			<ref bean="myInterceptor" />
		</websocket:handshake-interceptors>
		<websocket:sockjs />
	</websocket:handlers>

</beans>            